body {
	font-family: Georgia,"Times New Roman",Times,serif;
	color: #777777;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "News Cycle","Arial Narrow Bold",sans-serif;
	font-weight: bold;
	color: #777777;
}

#header {
	text-align: right;
}

#header h1 {
	margin: 20%;
	padding: 0;
	text-align: center
}

